<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center" style="color: rgb(36, 202, 14);">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-primary">View orders</a>
            </div>
        </div>
    </div>
</section>